---
import { Image } from 'astro:assets';
import iconImage from '@/assets/yuita_300.png';
import { allPostTags } from '@/utils/data.mjs';

const links = [
  { href: '/', text: 'トップページ' },
  {
    href: '/timeline',
    text: '投稿一覧',
    children: [
      { href: '/timeline/blog', text: 'ブログ' },
      { href: '/timeline/note', text: 'note' },
      { href: '/timeline/custommap', text: 'カスタムマップ' },
    ],
  },
  { href: '/tags', text: 'タグ一覧' },
  { href: '/anime', text: '視聴記録' },
];
---

<section class="border-divider flex gap-2 border-2 p-2 lg:flex-col">
  <div class="grid w-1/4 place-items-center lg:w-full">
    <Image
      src={iconImage}
      alt="アイコン画像"
      class="w-full flex-shrink-0 rounded-xl"
      format="png"
    />
  </div>
  <div class="flex flex-grow flex-col justify-center gap-2 text-center">
    <div class="flex flex-wrap items-end justify-center gap-2">
      <div class="text-2xl font-bold">yuita</div>
      <div class="text-text-secondary">a.k.a. koteiou</div>
    </div>
    <hr class="border-divider" />
    <div>Unrailed! をプレイしています</div>
  </div>
</section>

<section class="border-divider mt-2 border-2 p-2">
  <h2 class="font-bold">目次</h2>
  <ul class="util-list-circle pl-4">
    {
      links.map((item) => (
        <li>
          <a href={item.href} class="util-link">
            {item.text}
          </a>
          {item.children && item.children.length > 0 && (
            <ul class="util-list-l-shape pl-4">
              {item.children.map((child) => (
                <li>
                  <a class="util-link" href={child.href}>
                    {child.text}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</section>

<section class="border-divider mt-2 border-2 p-2">
  <h2 class="font-bold">
    <a href="/tags" class="util-link">タグ一覧</a>
  </h2>
  <div class="mt-2 flex flex-wrap gap-1 text-xs">
    {
      allPostTags.map((tag) => (
        <a
          class="bg-background-surface util-link p-1"
          href={`/tags/${encodeURIComponent(tag.tag)}`}>
          #{tag.tag} ({tag.count})
        </a>
      ))
    }
  </div>
</section>
