---
import { undefined } from 'astro:schema';
import '../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = null,
  image = '/twitter-card-piggy.png',
} = Astro.props;

const titleText = title ? `${title} | koteiou.pages.dev` : `koteiou.pages.dev`;
const imageUrl = new URL(image, Astro.url).href;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleText}</title>
    <meta name="theme-color" content="#1a784f" />
    <link rel="canonical" href={Astro.url.href} />
    <meta property="og:title" content={titleText} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={titleText} />
    {description && <meta name="twitter:description" content={description} />}
    <meta name="twitter:image" content={imageUrl} />
  </head>
  <body class="m-0 min-h-full w-full">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-size: 110%;
  }
</style>
